/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #3a4a40;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    margin: 0;
    font-size: 24px;
}

header .logo img {
    width: 40px;
    height: auto;
    margin-left: 10px;
}

nav .menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav .menu li {
    display: inline;
}

nav .menu li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

nav .menu li a:hover {
    background-color: #5c7364;
    border-radius: 5px;
}

/* Estilos para o banner */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #e0e5d8;
    width: 100%;
    height: 80vh; /* Ajustei a altura para 80% da tela */
}

.banner .content h2 {
    font-size: 36px; /* Tamanho reduzido para o texto */
    color: #333;
    line-height: 1.5;
    max-width: 50%; /* Limitei a largura do texto */
}

.banner .btn {
    display: inline-block;
    background-color: #3a4a40;
    color: white;
    padding: 12px 20px; /* Ajustei o padding do botão */
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.banner .btn:hover {
    background-color: #2f3d34;
}

.banner .image img {
    width: 900px; /* Aumentei a largura da imagem para 80% */
    max-width: 500px; /* Limitei a largura máxima para 600px */
    border-radius: 20px;
     /* Garante que a imagem ocupe o espaço sem distorcer */
}

/* Estilos para a seção de informações */
.info-section {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: #f7f7f7;
}

.info-card {
    text-align: center;
    padding: 20px;
    background-color: #a8b898;
    border-radius: 20px;
    width: 28%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-card h3 {
    margin-top: 15px;
    font-size: 24px;
}

.info-card p {
    font-size: 16px;
    margin-top: 10px;
}

/* Estilos para a seção 'Como Funciona' */
.como-funciona {
    padding: 80px;
    background-color: #e0e5d8;
    text-align: center;
}

.como-funciona h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.funciona-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.funciona-card {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 20px;
    width: 28%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.funciona-card img {
    width: 60px;
    height: auto;
    margin-bottom: 15px;
}

.funciona-card h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

/* Estilos para a seção 'Mensalidades' */
.mensalidades-section {
    background-color: #e0e5d8;
    padding: 80px;
    text-align: center;
}

.mensalidades-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.mensalidades-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mensalidade-card {
    background-color: #a8b898;
    border-radius: 20px;
    padding: 40px;
    width: 28%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: left;
}

.mensalidade-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.mensalidade-card p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.mensalidade-card ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.mensalidade-card ul li {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.mensalidade-card .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #a8b898;
}

.mensalidade-card .btn:hover {
    background-color: #333;
    color: white;
    border-color: #333;
}

/* Estilos para a seção de contato */
.contato-section {
    background-color: #f7f7f7;
    padding: 80px;
    text-align: center;
}

.contato-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contato-img img {
    width: 300px;
    border-radius: 20px;
}

.contato-text {
    max-width: 500px;
    text-align: left;
}

.contato-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contato-text p {
    font-size: 16px;
    margin-bottom: 20px;
}

.contato-text .btn {
    display: inline-block;
    background-color: #3a4a40;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.contato-text .btn:hover {
    background-color: #2f3d34;
}

/* Estilos para o rodapé */
footer {
    background-color: #3a4a40;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}
